<h1 class="title"><%= writing.title %></h1>
<p class="author">By Cynthia Shur Petts</p>
<p class="publication-date"><%= writing.created_at.strftime("%B %d, %Y") %></p>

<p class="content"><%= raw writing.body %></p>