<% provide(:title, "Home") %>
<div class="booking">
  <%= link_to "Book Me!", contact_path, class: "btn btn-primary" %>
  
</div>

<div class="shows">
  <% if @shows_upcoming.any? %>
    <h2>Upcoming Shows</h2>
    <ol class="show_list">
      <%= render @shows_upcoming %>
    </ol>
  <% end %>
</div>

<div class="videos frontPageVideo">
  <% if @video %>
    <h2>Videos of me!</h2>
    <%= render @video %>
  <% end %>


</div>