


@mixin transform($transforms) {
     -moz-transform: $transforms;
       -o-transform: $transforms;
      -ms-transform: $transforms;
  -webkit-transform: $transforms;
          transform: $transforms;
}
// rotate
@mixin rotate ($deg) {
  @include transform(rotate(#{$deg}deg));
}


body {
  background-repeat: no-repeat;
  background-postion: center;
  background-size: 100%;
  background-image: url("data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMiIgZGF0YS1uYW1lPSJMYXllciAyIiB4bWxucz0iaHR0cDovL3d3dy5
3My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW
5rIiB2aWV3Qm94PSIwIDAgMTA3OS44OSAyOTk1LjY3Ij48ZGVmcz48cmFkaWFsR3JhZGllbnQga
WQ9InJhZGlhbC1ncmFkaWVudCIgY3g9IjU0MCIgY3k9IjU0MCIgcj0iNTM4LjY3IiBncmFkaWVu
dFRyYW5zZm9ybT0idHJhbnNsYXRlKC0yODIxLjI4IC0yNjY4LjkxKSBzY2FsZSg2LjIyIDUuOTQ
pIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSI+PHN0b3Agb2Zmc2V0PSIwIiBzdG9wLW
NvbG9yPSIjZDNjNWQ0IiBzdG9wLW9wYWNpdHk9IjAuNyIvPjxzdG9wIG9mZnNldD0iMC4yMSIgc
3RvcC1vcGFjaXR5PSIwIi8+PC9yYWRpYWxHcmFkaWVudD48cmFkaWFsR3JhZGllbnQgaWQ9InJh
ZGlhbC1ncmFkaWVudC0yMSIgY3g9IjUzOS45OSIgY3k9IjU0MCIgcj0iNTM4LjY3IiB4bGluazp
ocmVmPSIjcmFkaWFsLWdyYWRpZW50Ii8+PC9kZWZzPjx0aXRsZT5jeW50aGlhX3N0YXJidXJzdC
BJbGx1c3RyYXRvcjwvdGl0bGU+PHBhdGggZD0iTTUzNi42MSw1MTkuODFjLS41Ny0xLjM4LS41M
y0xLjY5LS4xLTEuMywwLS41LjI4LS4yOS44MSwxbC4zMy40NEwzNjcuNDcsMS4zM0gyNjkuNjFM
NTM2LjcsNTIwLjM5QzUzNi42Nyw1MjAuMTksNTM2LjY0LDUyMCw1MzYuNjEsNTE5LjgxWiIgdHJ
hbnNmb3JtPSJ0cmFuc2xhdGUoMCAtMS4zMykiIHN0eWxlPSJmaWxsOiM2MDU3OWUiLz48cGF0aC
BkPSJNNTM2LjYxLDUxOS44MWMtLjU3LTEuMzgtLjUzLTEuNjktLjEtMS4zLDAtLjUuMjgtLjI5L
jgxLDFsLjMzLjQ0TDM2Ny40NywxLjMzSDI2OS42MUw1MzYuNyw1MjAuMzlDNTM2LjY3LDUyMC4x
OSw1MzYuNjQsNTIwLDUzNi42MSw1MTkuODFaIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgwIC0xLjM
zKSIgc3R5bGU9ImZpbGw6dXJsKCNyYWRpYWwtZ3JhZGllbnQpIi8+PHBhdGggZD0iTTUzOC44NS
w1MTkuNzFjLS4yLTIuMSwwLTIuNDIuMzMtMS42Ny4yLS42Mi4zNy0uMzcuNDcsMS4yNGwuMS4zM
Uw1MzkuMjksMS4zM0g0NTUuNjZMNTM4Ljc4LDUyMC4yWiIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUo
MCAtMS4zMykiIHN0eWxlPSJmaWxsOiM2MDU3OWUiLz48cGF0aCBkPSJNNTM4Ljg1LDUxOS43MWM
tLjItMi4xLDAtMi40Mi4zMy0xLjY3LjItLjYyLjM3LS4zNy40NywxLjI0bC4xLjMxTDUzOS4yOS
wxLjMzSDQ1NS42Nkw1MzguNzgsNTIwLjJaIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgwIC0xLjMzK
SIgc3R5bGU9ImZpbGw6dXJsKCNyYWRpYWwtZ3JhZGllbnQpIi8+PHBhdGggZD0iTTU0MS4wOCw1
MTkuMTZjLjM1LTEuMzkuNTYtMS42Mi42Ny0xLjA4LjI5LS4zMi4zNiwwLC4xLDEuMTYsMCwuMiw
wLC40MSwwLC42NEw3MTAuMjIsMS4zM2gtODhMNTQwLjgxLDUxOS42OFoiIHRyYW5zZm9ybT0idH
JhbnNsYXRlKDAgLTEuMzMpIiBzdHlsZT0iZmlsbDojNjA1NzllIi8+PHBhdGggZD0iTTU0MS4wO
Cw1MTkuMTZjLjM1LTEuMzkuNTYtMS42Mi42Ny0xLjA4LjI5LS4zMi4zNiwwLC4xLDEuMTYsMCwu
MiwwLC40MSwwLC42NEw3MTAuMjIsMS4zM2gtODhMNTQwLjgxLDUxOS42OFoiIHRyYW5zZm9ybT0
idHJhbnNsYXRlKDAgLTEuMzMpIiBzdHlsZT0iZmlsbDp1cmwoI3JhZGlhbC1ncmFkaWVudCkiLz
48cGF0aCBkPSJNNTQzLjMyLDUxOS43OWMuNjctMS4wNS45Mi0xLjIxLjktLjc4LjUtLjM0LjUsM
C0uMzEsMS4zbC0uMTkuNTlMOTIyLjUzLDEuMzNIODA3Ljg4bC0yNjUsNTE4Ljg4WiIgdHJhbnNm
b3JtPSJ0cmFuc2xhdGUoMCAtMS4zMykiIHN0eWxlPSJmaWxsOiM2MDU3OWUiLz48cGF0aCBkPSJ
NNTQzLjMyLDUxOS43OWMuNjctMS4wNS45Mi0xLjIxLjktLjc4LjUtLjM0LjUsMC0uMzEsMS4zbC
0uMTkuNTlMOTIyLjUzLDEuMzNIODA3Ljg4bC0yNjUsNTE4Ljg4WiIgdHJhbnNmb3JtPSJ0cmFuc
2xhdGUoMCAtMS4zMykiIHN0eWxlPSJmaWxsOnVybCgjcmFkaWFsLWdyYWRpZW50KSIvPjxwYXRo
IGQ9Ik01MzQuNjcsNTIxYy0xLTEuMjItMS4xLTEuNTQtLjUyLTEuMjctLjEtLjQ1LjE5LS4zMyw
xLjA1LjY2bC40NC4zMkwxNTQuNjMsMS4zM0g5LjY2TDUzNSw1MjEuNThaIiB0cmFuc2Zvcm09In
RyYW5zbGF0ZSgwIC0xLjMzKSIgc3R5bGU9ImZpbGw6IzYwNTc5ZSIvPjxwYXRoIGQ9Ik01MzQuN
jcsNTIxYy0xLTEuMjItMS4xLTEuNTQtLjUyLTEuMjctLjEtLjQ1LjE5LS4zMywxLjA1LjY2bC40
NC4zMkwxNTQuNjMsMS4zM0g5LjY2TDUzNSw1MjEuNThaIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSg
wIC0xLjMzKSIgc3R5bGU9ImZpbGw6dXJsKCNyYWRpYWwtZ3JhZGllbnQpIi8+PHBhdGggZD0iTT
UzMi4yNyw1MjcuMzJjLTEsLjA2LTEuMzQsMC0xLjEtLjIzLS44My0uMjQtLjYxLS40NSwxLjM1L
S41OWwuMzYtLjEyTDAsNTI5LjQ1djg1LjQ5bDUzMy4wNi04Ny40OVoiIHRyYW5zZm9ybT0idHJh
bnNsYXRlKDAgLTEuMzMpIiBzdHlsZT0iZmlsbDojNjA1NzllIi8+PHBhdGggZD0iTTUzMi4yNyw
1MjcuMzJjLTEsLjA2LTEuMzQsMC0xLjEtLjIzLS44My0uMjQtLjYxLS40NSwxLjM1LS41OWwuMz
YtLjEyTDAsNTI5LjQ1djg1LjQ5bDUzMy4wNi04Ny40OVoiIHRyYW5zZm9ybT0idHJhbnNsYXRlK
DAgLTEuMzMpIiBzdHlsZT0iZmlsbDp1cmwoI3JhZGlhbC1ncmFkaWVudCkiLz48cGF0aCBkPSJN
NTMzLjg3LDUyOS4zOWwtLjYzLjFjLTEuNDEuNTgtMS43Mi41NC0xLjMxLjEtLjQ3LDAtLjI3LS4
yOC45My0uNzlsLjM5LS4yOUwwLDcwNS4xNHYxMDAuMloiIHRyYW5zZm9ybT0idHJhbnNsYXRlKD
AgLTEuMzMpIiBzdHlsZT0iZmlsbDojNjA1NzllIi8+PHBhdGggZD0iTTUzMy44Nyw1MjkuMzlsL
S42My4xYy0xLjQxLjU4LTEuNzIuNTQtMS4zMS4xLS40NywwLS4yNy0uMjguOTMtLjc5bC4zOS0u
MjlMMCw3MDUuMTR2MTAwLjJaIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgwIC0xLjMzKSIgc3R5bGU
9ImZpbGw6dXJsKCNyYWRpYWwtZ3JhZGllbnQpIi8+PHBhdGggZD0iTTUzMy4yNiw1MjIuODJjLT
EuMTItLjctMS4yOS0xLS44Mi0uOTQtLjM2LS41MiwwLS41MiwxLjMzLjMybC40Mi4xM0wwLDEzO
C4zMVYyNTVMNTMzLjc1LDUyMy4zMloiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDAgLTEuMzMpIiBz
dHlsZT0iZmlsbDojNjA1NzllIi8+PHBhdGggZD0iTTUzMy4yNiw1MjIuODJjLTEuMTItLjctMS4
yOS0xLS44Mi0uOTQtLjM2LS41MiwwLS41MiwxLjMzLjMybC40Mi4xM0wwLDEzOC4zMVYyNTVMNT
MzLjc1LDUyMy4zMloiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDAgLTEuMzMpIiBzdHlsZT0iZmlsb
Dp1cmwoI3JhZGlhbC1ncmFkaWVudCkiLz48cGF0aCBkPSJNNTMyLjYyLDUyNWMtMS4zNC0uMzMt
MS41Ny0uNTQtMS4wNy0uNjUtLjQ1LS4zNS0uMTQtLjQ0LDEuMzEtLjFoLjQ1TDAsMzU0LjYzdjg
5LjlsNTMzLjIxLDgwLjgxWiIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMCAtMS4zMykiIHN0eWxlPS
JmaWxsOiM2MDU3OWUiLz48cGF0aCBkPSJNNTMyLjYyLDUyNWMtMS4zNC0uMzMtMS41Ny0uNTQtM
S4wNy0uNjUtLjQ1LS4zNS0uMTQtLjQ0LDEuMzEtLjFoLjQ1TDAsMzU0LjYzdjg5LjlsNTMzLjIx
LDgwLjgxWiIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMCAtMS4zMykiIHN0eWxlPSJmaWxsOnVybCg
jcmFkaWFsLWdyYWRpZW50KSIvPjxwYXRoIGQ9Ik01NDUuMTYsNTIxLjIxYzEuMDktLjkxLDEuNC
0xLDEuMTgtLjQ5LjQ4LS4xMi4zNi4xNy0uNjUsMS4wNmwtLjQxLjU3LDUzNC42MS0zODYuNzlWM
S4zM2gtMTMuMTdMNTQ0LjY2LDUyMS40NloiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDAgLTEuMzMp
IiBzdHlsZT0iZmlsbDojNjA1NzllIi8+PHBhdGggZD0iTTU0NS4xNiw1MjEuMjFjMS4wOS0uOTE
sMS40LTEsMS4xOC0uNDkuNDgtLjEyLjM2LjE3LS42NSwxLjA2bC0uNDEuNTcsNTM0LjYxLTM4Ni
43OVYxLjMzaC0xMy4xN0w1NDQuNjYsNTIxLjQ2WiIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMCAtM
S4zMykiIHN0eWxlPSJmaWxsOnVybCgjcmFkaWFsLWdyYWRpZW50KSIvPjxwYXRoIGQ9Ik01NDIu
OTEsNTMyLjg5Yy41OSwxLjQzLjU0LDEuNzQuMDksMS4zMSwwLC40MS0uMjcuMjEtLjc1LS44OGw
tLjQxLS41NSw1MzgsMTY2Mi40MlYxNTkwLjVMNTQyLjg0LDUzMi40QzU0Mi44Niw1MzIuNTcsNT
QyLjg5LDUzMi43NCw1NDIuOTEsNTMyLjg5WiIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMCAtMS4zM
ykiIHN0eWxlPSJmaWxsOiM2MDU3OWUiLz48cGF0aCBkPSJNNTQyLjkxLDUzMi44OWMuNTksMS40
My41NCwxLjc0LjA5LDEuMzEsMCwuNDEtLjI3LjIxLS43NS0uODhsLS40MS0uNTUsNTM4LDE2NjI
uNDJWMTU5MC41TDU0Mi44NCw1MzIuNEM1NDIuODYsNTMyLjU3LDU0Mi44OSw1MzIuNzQsNTQyLj
kxLDUzMi44OVoiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDAgLTEuMzMpIiBzdHlsZT0iZmlsbDp1c
mwoI3JhZGlhbC1ncmFkaWVudCkiLz48cGF0aCBkPSJNNTM4LjQ1LDUzMy40OGMtLjI0LjkyLS40
LDEuMTQtLjUuODUtLjUyLjc4LS42Ni40OC0uMTItMS42MywwLS4xMywwLS4yNiwwLS40TDAsMjI
wMS4zMlYyOTk3SDE1My40MUw1MzguNzMsNTMyLjk1WiIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMC
AtMS4zMykiIHN0eWxlPSJmaWxsOiM2MDU3OWUiLz48cGF0aCBkPSJNNTM4LjQ1LDUzMy40OGMtL
jI0LjkyLS40LDEuMTQtLjUuODUtLjUyLjc4LS42Ni40OC0uMTItMS42MywwLS4xMywwLS4yNiww
LS40TDAsMjIwMS4zMlYyOTk3SDE1My40MUw1MzguNzMsNTMyLjk1WiIgdHJhbnNmb3JtPSJ0cmF
uc2xhdGUoMCAtMS4zMykiIHN0eWxlPSJmaWxsOnVybCgjcmFkaWFsLWdyYWRpZW50KSIvPjxwYX
RoIGQ9Ik01NDAuNzQsNTMzLjkxYy4wNSwxLDAsMS4yOS0uMjMsMS4wNy0uMjQuODItLjQ1LjYtL
jU5LTEuMzVsLS4xNi0uNDgsMSwyNDYzLjg1SDkyOS4zNUw1NDAuODUsNTMzLjI0QzU0MC44MSw1
MzMuNDgsNTQwLjc4LDUzMy43MSw1NDAuNzQsNTMzLjkxWiIgdHJhbnNmb3JtPSJ0cmFuc2xhdGU
oMCAtMS4zMykiIHN0eWxlPSJmaWxsOiM2MDU3OWUiLz48cGF0aCBkPSJNNTQwLjc0LDUzMy45MW
MuMDUsMSwwLDEuMjktLjIzLDEuMDctLjI0LjgyLS40NS42LS41OS0xLjM1bC0uMTYtLjQ4LDEsM
jQ2My44NUg5MjkuMzVMNTQwLjg1LDUzMy4yNEM1NDAuODEsNTMzLjQ4LDU0MC43OCw1MzMuNzEs
NTQwLjc0LDUzMy45MVoiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDAgLTEuMzMpIiBzdHlsZT0iZml
sbDp1cmwoI3JhZGlhbC1ncmFkaWVudCkiLz48cGF0aCBkPSJNNTQ2LjMzLDUyMy4xOWMxLjM2LS
41NSwxLjY2LS41MSwxLjI4LS4wOS40NCwwLC4yNC4yNy0uOS43N2wtLjU3LjQyLDUzMy43NS0xN
zEuNzNWMjUyLjc1TDU0NS44NCw1MjMuMjZaIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgwIC0xLjMz
KSIgc3R5bGU9ImZpbGw6IzYwNTc5ZSIvPjxwYXRoIGQ9Ik01NDYuMzMsNTIzLjE5YzEuMzYtLjU
1LDEuNjYtLjUxLDEuMjgtLjA5LjQ0LDAsLjI0LjI3LS45Ljc3bC0uNTcuNDIsNTMzLjc1LTE3MS
43M1YyNTIuNzVMNTQ1Ljg0LDUyMy4yNloiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDAgLTEuMzMpI
iBzdHlsZT0iZmlsbDp1cmwoI3JhZGlhbC1ncmFkaWVudCkiLz48cGF0aCBkPSJNNTM0LjQyLDUz
MS40NWMtMS4xNywxLTEuNDgsMS4wNS0xLjI0LjUyLS41Mi4xNC0uNC0uMTYuNjktMS4xMWwuMjk
tLjRMMCw5MjIuODZ2MTQ4bDUzNS01MzkuN1oiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDAgLTEuMz
MpIiBzdHlsZT0iZmlsbDojNjA1NzllIi8+PHBhdGggZD0iTTUzNC40Miw1MzEuNDVjLTEuMTcsM
S0xLjQ4LDEuMDUtMS4yNC41Mi0uNTIuMTQtLjQtLjE2LjY5LTEuMTFsLjI5LS40TDAsOTIyLjg2
djE0OGw1MzUtNTM5LjdaIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgwIC0xLjMzKSIgc3R5bGU9ImZ
pbGw6dXJsKCNyYWRpYWwtZ3JhZGllbnQpIi8+PHBhdGggZD0iTTUzNi4yNCw1MzIuODVjLS43LD
EuMTEtMSwxLjI4LS45My44Mi0uNTQuMzgtLjU1LjA2LjMyLTEuMzVsLjE0LS40M0wwLDEyNzQuN
jJWMTU5M0w1MzYuNyw1MzIuMzlaIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgwIC0xLjMzKSIgc3R5
bGU9ImZpbGw6IzYwNTc5ZSIvPjxwYXRoIGQ9Ik01MzYuMjQsNTMyLjg1Yy0uNywxLjExLTEsMS4
yOC0uOTMuODItLjU0LjM4LS41NS4wNi4zMi0xLjM1bC4xNC0uNDNMMCwxMjc0LjYyVjE1OTNMNT
M2LjcsNTMyLjM5WiIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMCAtMS4zMykiIHN0eWxlPSJmaWxsO
nVybCgjcmFkaWFsLWdyYWRpZW50KSIvPjxwYXRoIGQ9Ik01NDcuMTYsNTI1LjM3YzEuMjEtLjA4
LDEuNTEsMCwxLjE5LjI1Ljc0LjIyLjUuNDItMS4zMS41NWwtLjU4LjE5LDUzMy40MiwyVjQ0Mi4
2OUw1NDYuNiw1MjUuMjhaIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgwIC0xLjMzKSIgc3R5bGU9Im
ZpbGw6IzYwNTc5ZSIvPjxwYXRoIGQ9Ik01NDcuMTYsNTI1LjM3YzEuMjEtLjA4LDEuNTEsMCwxL
jE5LjI1Ljc0LjIyLjUuNDItMS4zMS41NWwtLjU4LjE5LDUzMy40MiwyVjQ0Mi42OUw1NDYuNiw1
MjUuMjhaIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgwIC0xLjMzKSIgc3R5bGU9ImZpbGw6dXJsKCN
yYWRpYWwtZ3JhZGllbnQpIi8+PHBhdGggZD0iTTU0NC44OCw1MzEuNzFjMSwxLjE3LDEsMS40OC
41LDEuMjMuMS40My0uMTkuMzEtMS0uNjNsLS42MS0uNDMsNTM2LjEzLDc0MS42N1YxMDcwLjE5T
DU0NC42Niw1MzEuMjhaIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgwIC0xLjMzKSIgc3R5bGU9ImZp
bGw6IzYwNTc5ZSIvPjxwYXRoIGQ9Ik01NDQuODgsNTMxLjcxYzEsMS4xNywxLDEuNDguNSwxLjI
zLjEuNDMtLjE5LjMxLTEtLjYzbC0uNjEtLjQzLDUzNi4xMyw3NDEuNjdWMTA3MC4xOUw1NDQuNj
YsNTMxLjI4WiIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMCAtMS4zMykiIHN0eWxlPSJmaWxsOnVyb
CgjcmFkaWFsLWdyYWRpZW50KSIvPjxwYXRoIGQ9Ik01NDYuOTMsNTI3LjY1YzEuNC4zNCwxLjYz
LjU2LDEuMDguNjcuMzQuMywwLC4zOC0xLjIxLjFoLS43NWw1MzMuODMsMTc2LjE1VjYxNC4zOUw
1NDYuNTUsNTI3LjQ1WiIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMCAtMS4zMykiIHN0eWxlPSJmaW
xsOiM2MDU3OWUiLz48cGF0aCBkPSJNNTQ2LjkzLDUyNy42NWMxLjQuMzQsMS42My41NiwxLjA4L
jY3LjM0LjMsMCwuMzgtMS4yMS4xaC0uNzVsNTMzLjgzLDE3Ni4xNVY2MTQuMzlMNTQ2LjU1LDUy
Ny40NVoiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDAgLTEuMzMpIiBzdHlsZT0iZmlsbDp1cmwoI3J
hZGlhbC1ncmFkaWVudCkiLz48cGF0aCBkPSJNNTQ2LjM1LDUyOS45M2MxLC42NCwxLjE3LjkuNz
YuODguMzMuNDksMCwuNDktMS4yOC0uMjlsLS42Ny0uMjEsNTM0LjczLDM5MlY4MDQuNzJMNTQ2L
DUyOS41NVoiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDAgLTEuMzMpIiBzdHlsZT0iZmlsbDojNjA1
NzllIi8+PHBhdGggZD0iTTU0Ni4zNSw1MjkuOTNjMSwuNjQsMS4xNy45Ljc2Ljg4LjMzLjQ5LDA
sLjQ5LTEuMjgtLjI5bC0uNjctLjIxLDUzNC43MywzOTJWODA0LjcyTDU0Niw1MjkuNTVaIiB0cm
Fuc2Zvcm09InRyYW5zbGF0ZSgwIC0xLjMzKSIgc3R5bGU9ImZpbGw6dXJsKCNyYWRpYWwtZ3JhZ
GllbnQpIi8+PHBhdGggZD0iTTUzMi44Niw1MjguNzljLTEuMi41MS0xLjQuNzUtLjkzLjc5LS40
MS40NC0uMS40OCwxLjMxLS4xbC42My0uMUwwLDgwNS4zNFY5MjIuODZsNTM0LjE1LTM5Mi40LS4
yOS40Yy0xLjEuOTUtMS4yMSwxLjI1LS42OSwxLjExLS4yNS41My4wNy40NywxLjI0LS41MmwuNT
ctLjI5TDAsMTA3MC44NnYyMDMuNzZMNTM1Ljc2LDUzMS44OWwtLjE0LjQzYy0uODcsMS40MS0uO
DYsMS43My0uMzIsMS4zNSwwLC40Ni4yNC4yOS45My0uODJsLjQ3LS40NkwwLDE1OTN2NjA4LjM0
bDUzNy44NC0xNjY5YzAsLjE0LDAsLjI3LDAsLjQtLjU0LDIuMTEtLjQsMi40LjEyLDEuNjMuMS4
yOC4yNi4wNi41LS44NWwuMjgtLjUzTDE1My40MSwyOTk3SDU0MC43OWwtMS0yNDYzLjg1LjE2Lj
Q4Yy4xNCwxLjk1LjM1LDIuMTcuNTksMS4zNS4xOS4yMy4yOC0uMDcuMjMtMS4wNywwLS4yMS4wN
y0uNDMuMTEtLjY3TDkyOS4zNSwyOTk3aDE1MC41NFYyMTk1LjE5bC01MzgtMTY2Mi40Mi40MS41
NWMuNDgsMS4wOS43LDEuMjkuNzUuODguNDUuNDIuNS4xMi0uMDktMS4zMSwwLS4xNSwwLS4zMi0
uMDctLjQ5bDUzNy4wNSwxMDU4LjF2LTMxN0w1NDMuNzYsNTMxLjg3bC42MS40M2MuODMuOTQsMS
4xMiwxLjA2LDEsLjYzLjU0LjI2LjQ5LS4wNi0uNS0xLjIzbC0uMjItLjQzLDUzNS4yMyw1MzguO
TFWOTIyLjI5bC01MzQuNzMtMzkyLC42Ny4yMWMxLjI5Ljc4LDEuNjEuNzgsMS4yOC4yOS40Miww
LC4yNS0uMjQtLjc2LS44OGwtLjM3LS4zOCw1MzMuOTEsMjc1LjE3VjcwNC41N0w1NDYuMDYsNTI
4LjQyaC43NWMxLjI1LjI4LDEuNTUuMjEsMS4yMS0uMS41NS0uMTEuMzItLjMzLTEuMDgtLjY3bC
0uMzgtLjIsNTMzLjMzLDg2Ljk0di04NmwtNTMzLjQyLTIsLjU4LS4xOWMxLjgxLS4xMywyLS4zM
ywxLjMxLS41NS4zMi0uMjIsMC0uMzMtMS4xOS0uMjVsLS41Ni0uMDksNTMzLjI5LTgyLjU5VjM1
Mi41Nkw1NDYuMTQsNTI0LjI5bC41Ny0uNDJjMS4xNC0uNDksMS4zNC0uNzMuOS0uNzcuMzktLjQ
yLjA4LS40Ni0xLjI4LjA5bC0uNDkuMDcsNTM0LjA1LTI3MC41MlYxMzUuNTZMNTQ1LjI4LDUyMi
4zNWwuNDEtLjU3YzEtLjg5LDEuMTMtMS4xOC42NS0xLjA2LjIyLS40OS0uMDktLjQyLTEuMTguN
DlsLS41LjI1TDEwNjYuNzIsMS4zM0g5MjIuNTNMNTQzLjczLDUyMC45bC4xOS0uNTljLjgtMS4z
Mi44MS0xLjY0LjMxLTEuMywwLS40My0uMjMtLjI3LS45Ljc4bC0uNDMuNDMsMjY1LTUxOC44OEg
3MTAuMjJMNTQxLjg2LDUxOS44OWMwLS4yMywwLS40NSwwLS42NC4yNi0xLjE5LjE5LTEuNDgtLj
EtMS4xNi0uMTEtLjU1LS4zMy0uMzItLjY3LDEuMDhsLS4yNy41Mkw2MjIuMjMsMS4zM0g1MzkuM
jlsLjQ3LDUxOC4yNi0uMS0uMzFjLS4xMS0xLjYxLS4yOC0xLjg2LS40Ny0xLjI0LS4zNi0uNzYt
LjUzLS40NC0uMzMsMS42N2wtLjA3LjQ4TDQ1NS42NiwxLjMzSDM2Ny40N0w1MzcuNjUsNTE5Ljk
xbC0uMzMtLjQ0Yy0uNTMtMS4yNS0uNzgtMS40NS0uODEtMS0uNDMtLjM5LS40Ny0uMDguMSwxLj
MsMCwuMTguMDUuMzcuMDkuNThMMjY5LjYxLDEuMzNoLTExNWwzODEsNTE5LjM5LS40NC0uMzJjL
S44Ny0xLTEuMTYtMS4xMS0xLjA1LS42Ni0uNTctLjI4LS41MiwwLC41MiwxLjI3bC4yOS41N0w5
LjY2LDEuMzNIMHYxMzdsNTM0LjE5LDM4NC0uNDItLjEzYy0xLjM3LS44NC0xLjY5LS44NC0xLjM
zLS4zMi0uNDcsMC0uMzEuMjMuODIuOTRsLjQ5LjQ5TDAsMjU1djk5LjYyTDUzMy4zMiw1MjQuMj
loLS40NWMtMS40NS0uMzQtMS43Ni0uMjUtMS4zMS4xLS41MS4xMS0uMjcuMzIsMS4wNy42NWwuN
TkuM0wwLDQ0NC41NHY4NC45MWw1MzIuODktMy4wNy0uMzYuMTJjLTIsLjE0LTIuMTkuMzUtMS4z
NS41OS0uMjQuMi4wNS4yOSwxLjEuMjNsLjc5LjEyTDAsNjE0LjkzdjkwLjJMNTMzLjI1LDUyOC4
1WiIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMCAtMS4zMykiIHN0eWxlPSJmaWxsOiMzODI4NDYiLz
48cGF0aCBkPSJNNTMyLjg2LDUyOC43OWMtMS4yLjUxLTEuNC43NS0uOTMuNzktLjQxLjQ0LS4xL
jQ4LDEuMzEtLjFsLjYzLS4xTDAsODA1LjM0VjkyMi44Nmw1MzQuMTUtMzkyLjQtLjI5LjRjLTEu
MS45NS0xLjIxLDEuMjUtLjY5LDEuMTEtLjI1LjUzLjA3LjQ3LDEuMjQtLjUybC41Ny0uMjlMMCw
xMDcwLjg2djIwMy43Nkw1MzUuNzYsNTMxLjg5bC0uMTQuNDNjLS44NywxLjQxLS44NiwxLjczLS
4zMiwxLjM1LDAsLjQ2LjI0LjI5LjkzLS44MmwuNDctLjQ2TDAsMTU5M3Y2MDguMzRsNTM3Ljg0L
TE2NjljMCwuMTQsMCwuMjcsMCwuNC0uNTQsMi4xMS0uNCwyLjQuMTIsMS42My4xLjI4LjI2LjA2
LjUtLjg1bC4yOC0uNTNMMTUzLjQxLDI5OTdINTQwLjc5bC0xLTI0NjMuODUuMTYuNDhjLjE0LDE
uOTUuMzUsMi4xNy41OSwxLjM1LjE5LjIzLjI4LS4wNy4yMy0xLjA3LDAtLjIxLjA3LS40My4xMS
0uNjdMOTI5LjM1LDI5OTdoMTUwLjU0VjIxOTUuMTlsLTUzOC0xNjYyLjQyLjQxLjU1Yy40OCwxL
jA5LjcsMS4yOS43NS44OC40NS40Mi41LjEyLS4wOS0xLjMxLDAtLjE1LDAtLjMyLS4wNy0uNDls
NTM3LjA1LDEwNTguMXYtMzE3TDU0My43Niw1MzEuODdsLjYxLjQzYy44My45NCwxLjEyLDEuMDY
sMSwuNjMuNTQuMjYuNDktLjA2LS41LTEuMjNsLS4yMi0uNDMsNTM1LjIzLDUzOC45MVY5MjIuMj
lsLTUzNC43My0zOTIsLjY3LjIxYzEuMjkuNzgsMS42MS43OCwxLjI4LjI5LjQyLDAsLjI1LS4yN
C0uNzYtLjg4bC0uMzctLjM4LDUzMy45MSwyNzUuMTdWNzA0LjU3TDU0Ni4wNiw1MjguNDJoLjc1
YzEuMjUuMjgsMS41NS4yMSwxLjIxLS4xLjU1LS4xMS4zMi0uMzMtMS4wOC0uNjdsLS4zOC0uMiw
1MzMuMzMsODYuOTR2LTg2bC01MzMuNDItMiwuNTgtLjE5YzEuODEtLjEzLDItLjMzLDEuMzEtLj
U1LjMyLS4yMiwwLS4zMy0xLjE5LS4yNWwtLjU2LS4wOSw1MzMuMjktODIuNTlWMzUyLjU2TDU0N
i4xNCw1MjQuMjlsLjU3LS40MmMxLjE0LS40OSwxLjM0LS43My45LS43Ny4zOS0uNDIuMDgtLjQ2
LTEuMjguMDlsLS40OS4wNyw1MzQuMDUtMjcwLjUyVjEzNS41Nkw1NDUuMjgsNTIyLjM1bC40MS0
uNTdjMS0uODksMS4xMy0xLjE4LjY1LTEuMDYuMjItLjQ5LS4wOS0uNDItMS4xOC40OWwtLjUuMj
VMMTA2Ni43MiwxLjMzSDkyMi41M0w1NDMuNzMsNTIwLjlsLjE5LS41OWMuOC0xLjMyLjgxLTEuN
jQuMzEtMS4zLDAtLjQzLS4yMy0uMjctLjkuNzhsLS40My40MywyNjUtNTE4Ljg4SDcxMC4yMkw1
NDEuODYsNTE5Ljg5YzAtLjIzLDAtLjQ1LDAtLjY0LjI2LTEuMTkuMTktMS40OC0uMS0xLjE2LS4
xMS0uNTUtLjMzLS4zMi0uNjcsMS4wOGwtLjI3LjUyTDYyMi4yMywxLjMzSDUzOS4yOWwuNDcsNT
E4LjI2LS4xLS4zMWMtLjExLTEuNjEtLjI4LTEuODYtLjQ3LTEuMjQtLjM2LS43Ni0uNTMtLjQ0L
S4zMywxLjY3bC0uMDcuNDhMNDU1LjY2LDEuMzNIMzY3LjQ3TDUzNy42NSw1MTkuOTFsLS4zMy0u
NDRjLS41My0xLjI1LS43OC0xLjQ1LS44MS0xLS40My0uMzktLjQ3LS4wOC4xLDEuMywwLC4xOC4
wNS4zNy4wOS41OEwyNjkuNjEsMS4zM2gtMTE1bDM4MSw1MTkuMzktLjQ0LS4zMmMtLjg3LTEtMS
4xNi0xLjExLTEuMDUtLjY2LS41Ny0uMjgtLjUyLDAsLjUyLDEuMjdsLjI5LjU3TDkuNjYsMS4zM
0gwdjEzN2w1MzQuMTksMzg0LS40Mi0uMTNjLTEuMzctLjg0LTEuNjktLjg0LTEuMzMtLjMyLS40
NywwLS4zMS4yMy44Mi45NGwuNDkuNDlMMCwyNTV2OTkuNjJMNTMzLjMyLDUyNC4yOWgtLjQ1Yy0
xLjQ1LS4zNC0xLjc2LS4yNS0xLjMxLjEtLjUxLjExLS4yNy4zMiwxLjA3LjY1bC41OS4zTDAsND
Q0LjU0djg0LjkxbDUzMi44OS0zLjA3LS4zNi4xMmMtMiwuMTQtMi4xOS4zNS0xLjM1LjU5LS4yN
C4yLjA1LjI5LDEuMS4yM2wuNzkuMTJMMCw2MTQuOTN2OTAuMkw1MzMuMjUsNTI4LjVaIiB0cmFu
c2Zvcm09InRyYW5zbGF0ZSgwIC0xLjMzKSIgc3R5bGU9ImZpbGw6dXJsKCNyYWRpYWwtZ3JhZGl
lbnQtMjEpIi8+PC9zdmc+")
}

h1.hero span {
  font: 1.5em Monaco, MonoSpace;
  text-align: center;
  height: 300px;
  position: absolute;
  width: 20px;
  left: 50%;
  top: 10px;
  transform-origin: bottom center;
}

@for $i from 1 through 18 {
  

  .char#{ $i } {
    @include transform(rotate((-57+$i*6)+deg))
  }
    
  
  
}

svg > text{
  fill: #fff; 
  
}

  
img.heroImage {

  margin: 0 auto;
  max-width: 200px;
}