<li class="show show-<%= show.id %>">
  <h2 class="venue"><%= link_to show.venue, show.url, target:"_blank", class: "venueLink" %></h2>
  <p class="date"><%= show.date.strftime("%B %d, %Y") %></p>
  <p>I'll be doing <%= show.show_type %></p>

</li>
  

  