<section class="row hero ">
  <h1 class="clearfix hero hero_title">Cynthia Shur Petts</h1>
  <%= image_tag('heroCynthiaShurPetts.jpg', alt: "Cynthia sitting in a tiny chair", class: "heroImage img-responsive") %>

</section>
