<header class="navbar ">
  <div class="container">
    
    <nav>
      <ul class="nav navbar navbar-nav navbar-default " role="navigation">
        
        <li><%= link_to "Shows",   shows_path %></li>
        <li><%= link_to "Contact", contact_path %></li>
        <li><%= link_to "Videos", videos_path %></li>
        <li><%= link_to "About Me", about_path %></li>
        
        
       
        
      </ul>
    </nav>
  </div>
</header>